<launch>

	<!-- Arguments -->
	<!--	<arg name="bagfile" default="/home/rrc/husky_indigo_ws/scripts/2016-03-28-18-31-31.bag"/> --> <!-- Find it on http://srv.uib.es/public/viso2_ros/sample_bagfiles/  -->
	<arg name="camera" default="/zed/stereo"/>

  <!--Madgwick IMU filter -->
  <!--    <include file="$(find imu_filter_madgwick)/launch/imu_filter.launch" /> -->

  <!-- Run the node to add timestamp to cmd_vel messages -->
  <node name="velocity_stampler" pkg="control" type="velocity.py" />

  <!-- Play the bagfile -->

  <!-- Run the stereo image proc -->
  <!-- <node ns="$(arg camera)" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" output="screen"/> -->

  <!-- Viso2 -->
  <node pkg="viso2_ros" type="stereo_odometer" name="stereo_odometer" output="screen">
    <remap from="stereo" to="$(arg camera)"/>
    <remap from="image" to="image_rect"/>
    <param name="base_link_frame_id" value="$(arg camera)"/>

    <param name="base_link_frame_id" value="base_link" />
    <param name="odom_frame_id" value="odom" />
  </node>


</launch>
